name: CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  FOUNDRY_PROFILE: ci

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Checkout suave-geth repo
        uses: actions/checkout@v4
        with:
          repository: flashbots/suave-geth
          path: suave-geth
          persist-credentials: false
          fetch-depth: 0

      - name: Build suave
        run: |
          cd suave-geth
          make suave

      - name: Include the binary on $PATH
        run: |
          echo "::add-path::$(pwd)/suave-geth/build/bin"

      - name: Run suave
        run: |
          ./suave-geth/build/bin/suave --suave.dev &

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install deps
        run: forge install

      - name: Run tests
        run: forge test
